.-container {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 679px) {
  .image-container:nth-child(odd) {
    margin-right: 4px;
  }
}

@media screen and (min-width: 999px) {
  .image-container:nth-child(even) {
    margin-right: 4px;
  }
}

@media screen and (min-width: 1340px) {
  .image-container:nth-child(odd) {
    margin-right: 4px;
  }
}

/* IMAGE */
.image-container {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 252px;
  top: 100px;
  margin-bottom: 4px;
}

.image-container img {
  height: 320px;
  position: relative;
  transition: transform 3s ease 0.2s;
}

.image-container span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.image-container:hover > img {
  transform: scale(1.2);
}

.image-container:hover > span {
  opacity: 1;
}

#play {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  left: 10px;
  bottom: 10px;
  z-index: 1;
  font-size: 15px;
  opacity: 1;
}


/* VIDEO */ 
.video{
  position: fixed;
  height: 100%;
  overflow: hidden;
  margin:auto;
  display: flex;
  justify-content: center;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index:2;
  overflow: hidden;
  align-items:center;
  flex-direction: column;
} 

.video-box{

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column
}




.close{
  color:#666666;
  
  cursor: pointer;
  position: relative;
  text-align: center
  
}


@media screen and (min-width: 960px) {
  .close{
    position: absolute;
    top:0;
    right:-120px;
    text-align: right;

  }
}


.title{
  display: center;  align-self: flex-start;
  color:#666666;

}

.big-video {
 
  width:200px;
  height:120px;
  

}

@media screen and (min-width: 300px) {
  .big-video {
    width:300px;
    height:250px;  }
}

@media screen and (min-width: 400px) {
  .big-video {
    width:400px;
    height:350px;  }
}

@media screen and (min-width: 500px) {
  .big-video {
    width:500px;
    height:450px;  }
}

@media screen and (min-width: 600px) {
  .big-video {
    width:600px;
    height:450px;  }
}

@media screen and (min-width: 700px) {
  .big-video {
    width:700px;
    height:450px;  }
}

/* .big-video {
  width:800px;
  height:450px;  } */



