*{
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color:white;
}
body{
  background:white;
  color:black;
  padding: 0;

}

.container{
  width:1295px;
  margin:auto
}

.container > div{
  display: flex;
  align-items: center;
  flex-direction: row;
}

ul{
  margin:0;
  padding:0;
  list-style: none;
}

#name{
  margin-right:20px;
}

.images {
  display: flex;
  justify-content: flex-start;
  position: relative;
  list-style: none;
  color:white;
  flex-wrap: wrap;
  padding:0;


}

.images li {
  cursor: pointer;

}




.images li:hover > div img {
  transform: scale(1.2)
}

.images li:hover > div span {
  opacity: 1;
}


.images li div{
  position: relative;
  overflow: hidden;
  width:320px;
  height: 252px;
}

.images li span {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s ease;

}

#play {
  position:absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  left:10px;
  bottom:10px;
  z-index: 1;
  font-size: 15px;
  opacity: 1;
}
.images img{
  height:320px;
  position: relative;
  transition: transform 3s ease 0.2s;
}

