
@font-face {
  font-family: 'Times';
  src: local('Times'), url(./Fonts/Times-SemiBold.ttf) format('truetype');
}

body {
  
  margin: 0;
  font-family:Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
